.about-section {
    margin-top: 30px;
    animation: about .8s normal;
    transition: all .8s ease-in-out;
    .about-me {
        color:#fff;
        margin-bottom: 10px;
        p{
            color:#7a798c;
            margin: 0px;
            font-size: 18px;
            font-weight: 500;
            text-align: left;
        }
        h2{
            font-weight: 500;
            font-size: 50px;
            color: rgb(45,136,255);
        }
        button {
            border: none;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
        }
        
    }
    .Education  {
        margin-top: 50px;
        color: #fff;
        h2{
            color:rgb(45,136,255); 
        }
        h5 {
            span {
            color:rgb(45,136,255);
        }
        }
    
    }
    .skills {
        h2 {
        color: rgb(45,136,255);
        // margin-left: 45px;
        margin-top: 150px;
        
        
        }
    .skills-content {
        ul {
        list-style: none;
        li {
            padding: 20px;
            display: inline-block;
            &:hover{
                transform: translateY(-5px);
         }}
        }
        }
        .html {
            color: rgb(230,76,24);
        }
        .css {
            color: rgb(0,112,186);
        }
        .bootstrap {
            color: rgb(103,58,183);
        }
        .sass {
            color: rgb(205,103,153);
        }
        .js {
            color: rgb(240,219,79);
        }
        .react {
            color: rgb(0,215,254);
        }
        .next-js {
            font-weight: 200;
            font-size: 30px;
            color: #fff;
            pointer-events: none;
            span {
                font-size: 10px;
            }
        }
        .github {
            color: #fff;
        }
        .vue {
            color: #41B883;
        }
        // .angular {
        //     color: #B52E31;
        // }
        .bitbucket {
            color: #2684FF;
        }
    }
   
}






@keyframes about {
    0% {
        transform: translatex(-900px);
        opacity: 0;
    }

    80% {
        transform: translatex(50px);
        opacity: .6;
    }

    100% {
        transform: translatex(0px);
        opacity: 1;
    }
}


.personalInfo{
    overflow: hidden;
    margin-top: 50px;
    h2{
        text-transform: capitalize;
        margin-bottom: 20px;
        color: rgb(45,136,255) ;
    }
    table {
        tr{
            td{
            padding: 5px 5px 5px 0px;
            &:first-child{
                font-weight: bold;
                font-size: 14px;
                display: flex;
                gap: 5px;
                color: rgb(161, 159, 159);
                white-space: nowrap;
            }
            &:last-child{
                padding-left: 10px;
                color: rgb(252, 252, 252);
            }
        }
    }
}
@media(max-width:565px){
    .personal-info table{
        display: block;
        max-width: 250px;
        overflow: hidden;
        overflow-x: auto;
    }
    .personal-info table::-webkit-scrollbar{
        height: 3px;
        display: block;
    }
      /* Track */
    .personal-info table::-webkit-scrollbar-track{
        border-radius: 5px;
      }
      /* Handle */
    .personal-info table::-webkit-scrollbar-thumb{
        background: rgb(45,136,255);
        border-radius: 5px;
      }
}
}
 

.languages{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 5px;
    h2{
        text-transform: capitalize;
        margin-bottom: 20px;
        color: rgb(45,136,255);
    }
    .progress{
        display: flex;
        gap: 5px;
        background-color: transparent; 
            margin: 10px 0px;
            max-height: 200px;
        span{
            border: 1px solid #a5a5a5;
            width: 18px;
            height: 16px;
            border-radius: 50%;
            
        }
    }
    
    .arabic {
        h4{
        margin-bottom: 10px;
        font-size: 14px;
        color: #ffffff;
        }
        .progress {
            span{
            background-color: #a5a5a5;
        }}
    }
    
    .english{ 
        .progress{
            
            span{
            &:nth-child(-n+8){
            background-color: #a5a5a5;
        }}}
        h4{
        margin-bottom: 10px;
        font-size: 14px;
        color: rgb(255, 255, 255);
    }}
     
    
}






@media only screen and (max-width: 900px) {

    h2 {
       margin-left: 40%;
       text-align: center;
    //    color: #fff;
       margin-left: 0px;
       margin-top: 40px;

       font-weight: 500;
        font-size: 30px;
        color: rgb(45,136,255);
       
   }
   button{
       margin-left: 35%;
       text-align: center;
   }
   
   
   .personal-info ,.language{
   margin-left: 25%;
   margin-top: 25px;
   }
   

}